<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Enter what you want to perform -->
<!--1. Get User Info
2. Get User Followers
3. Get User Following
4. Get User Followers List
5. Get User Following List
6. DM User
7. DM Multiple Users-->
<ul>
    <li><a href="/user">Get User Info</a></li>
    <li><a href="/followers">Get User Followers</a></li>
    <li><a href="/following">Get User Following</a></li>
    <li><a href="/followersList">Get User Followers List</a></li>
    <li><a href="/followingList">Get User Following List</a></li>
    <li><a href="/dm">DM User</a></li>
    <li><a href="/dmMultiple">DM Multiple Users</a></li>
</ul>

<!--<form action="home" method="post">
    <label for="choice">Enter your choice</label>
    <input type="text" name="choice" id="choice">
    <input type="submit" value="Submit">
</form>-->
</body>
</html>